.DS_Store
jwlua64.bundle
jwlua.bundle
jwlua-beta-v0_54/*
jwlua64-beta-v0_54/*
jwlua.fxt
jwluatagfile.xml
SciLexer.dll
jwlua64.fxtco

# ignore Finale files (used for testing)
*.mus
*.musx

# script_settings folder is for setting user-specific parameters
# and should not be tracked in this repo
script_settings

node_modules
coverage
mobdebug.lua

src/**/personal*
dist/**/personal*

.vscode/settings.json
*/**/.vscode

# ignore finale_lua_menus.txt because it can be different for every user
# (finale_lua_menus.txt is the menu layout file used by finale_lua_menu_organizer.lua)
finale_lua_menus.txt

