name: Lint all src files

on:
  push:
  pull_request:
    branches:
      - "master"

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Luacheck linter
        uses: lunarmodules/luacheck@v1
